@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select {
    @apply border border-gray-300 rounded-md px-3 py-2;
  }

  input:focus, textarea:focus, select:focus {
    @apply outline-none ring-2 ring-tdx-primary ring-opacity-50 border-tdx-primary;
  }
}
